.blog-post {
    padding-top: 40px;
    .title {
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 20px;
    }
    
    .btn-wrapper {
        align-items: center;
        display: flex;
        justify-content: space-between;
        .btn-back {
            cursor: pointer;
            color: blue;
            font-size: 16px;
            text-decoration: underline;
        }
        .btn-create {
            width: 200px;
        }
    }
}