.home-page-wrapper {
    padding-top: 30px;
    .create-wrapper {
        margin-right: 0;
        margin-left: auto;
        width: 200px;
    }
    .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .pagination-wrapper {
        display: flex;
        max-width: 400px;
        margin: auto;
    }
}